
.carousel-container {
     display: flex; 
    justify-content: center;
     align-items: center; 

}

.carousel-inner {
    /* display: flex;
    justify-content: space-evenly; */
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

.carousel-image {
    /* flex: 0 0 33.33%;  */
    /* margin: 0 5px; */
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 8px;
    padding: 13px;
}

.titulo-habilidades{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 45px;
}


